html
{
    min-height:100%;
    position:relative;
}
nav /*Centers the navbar */
{
    text-align: center;
    font-size: 20px;
}
nav ul ul /* Hides the submenus when not hovering */
{
    display: none;
}
nav ul li:hover > ul /* Displays submenus on hover */
{
    display: block;
    background: #416A89;
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: (top, #606c88 0%, #3f4c6b 100%);
    z-index: 1;

}
nav ul /* Layout and position */
{
    background: none;
    border-radius: 0px 0px 5px 5px;
    background: #416A89;
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: (top, #606c88 0%, #3f4c6b 100%);
    border: 1px solid #fff;
    padding: 0 70px;
    list-style: none;
    position: relative;
    display: inline-table;
    top:-20px;

}
nav ul:after
{
    content: "";
    clear: both; 
    display: block;
}
nav ul li 
{
    float: left;

}
nav ul li:hover /*Navbar hover background */ 
{
    background: #181818;
    background: rgba(0, 20, 30, 0.6);
}
nav ul li a:hover /* changes the text color of when hovering */
{
    text-decoration: underline;
}
nav ul li ul li a /* changes the font size of submenu text */
{
    font-size: 15px;
}
nav ul li a /* navbar design */
{
    display: block; 
    padding: 20px 40px;
    color: #fff; 
    text-decoration: none;

}
nav ul li ul /* Submenu design */
{
    border-radius: 1px; 
    padding: 0;
    position: absolute; 
    top: 98%;
}
nav ul ul li /* Makes submenus go under eachother */
{
    float: none; 
    position: relative;
}
/* BODY */
body 
{
    background-image: url("");
    background-color: #181818;
    background-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height:100%;
}

/*FOOTER*/
#bottom
{
    background: #416A89;
    border-top: 1px solid #fff;
    width: 100%;  
    position: absolute;
    left:0px;
    bottom:0;
    height:6%;
    overflow:hidden;

}
#bottom:hover 
{
    height:13%;
}
#footer
{
    width:100%;
    margin: 0 auto;
}
#footer ul
{
    list-style:none;
    color:white;
    margin-left:160px;
}
#footer li a
{
    padding:0px 0px;
    display:block;
    color:white;
    text-decoration:none;
    font:10px arial, verdana, sans-serif;
}
#footer li p
{
    text-decoration: none;
    font: 10px arial, verdana, sans-serif;
}
#footer ul li
{
    padding:3px;
    text-decoration: none;
}
.color
{
    color:white;
    font-size: 20px;
    background:none !important;
}
.bottom-ul
{
    float:left;width:28%;
    margin-left:13px;

}
.bottom-ul ul li
{
    font: 10px arial, verdana, sans-serif;
}
#bottom-text
{
    text-align:center;
    color:white;
}
#footer a:hover
{
    text-decoration: underline;
}
/*FOOTER END*/
#textarea h1
{
    text-align: center;
    color:#789EAF;
    font:30px arial, verdana, sans-serif;
}
#textarea form
{
    display: inline-block;
}
#textarea textarea
{
    width: 60%;
    background: white;
    text-align: center;
    color:black;
    display: inline-block;
    position: relative;
    left:19.5%;
    z-index: 0;
    resize: none;
}

#textarea p
{
    color:#789EAF;
    position: relative;
    left:-300px;
    top: 140px;
}

#submit
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background: rgba(0, 0, 0, 0.1);

}
#submitb
{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
